:root {
  --base: #51c70e;
  --spacing: 10px;
  --reset-spacing: 10px;
  --blur: 1px;
  --grayscale: 0%;
  --brightness: 100%;
  --saturate: 100%;
  --contrast: 100%;
}

.main-img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur)) grayscale(var(--grayscale)) brightness(var(--brightness)) saturate(var(--saturate)) contrast(var(--contrast));
}


.hl {
  color: var(--base);
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

.reset, .button-load {
  min-height: 50px;
  width: 14%;
  margin: 20px;
  font-size: 20px;
  background-color: rgb(161, 203, 219);
  border: 2px solid #333;
  border-radius: 5px;
}